@model IEnumerable<Conference.Models.Speaker>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>

<script>
    $(function ()
    {
        $("#speakers").fadeOut(3000);
    });
</script>

<div id="speakers">
    @foreach (var speaker in Model)
    {
        <h3>@speaker.Name</h3>
        @Html.Action("_GetForSpeaker", "Sessions", new { speakerId = speaker.SpeakerId })
    }
</div>*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SpeakerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SpeakerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SpeakerId })
            </td>
        </tr>
    }

</table>
